<main>
  <%- include("./EJS/div1.ejs") %> <%- include("./EJS/div5.ejs") %> <%-
  include("./EJS/div2.ejs") %> <%- include("./EJS/div3.ejs") %> <%-
  include("./EJS/div4.ejs") %> <%- include("./EJS/removeUsers.ejs") %> <%-
  include("./EJS/addUsers.ejs") %> <%- include("./EJS/categories.ejs") %> <%-
  include("./EJS/addEntryForm.ejs") %><%- include("./EJS/addExpenseForm.ejs") %>
</main>
