<div class="div3 shinyEffect">
  <div class="contentDiv3">
    <div class="title-div3">
      <i class="fas fa-exchange-alt"></i>
      <h3>Movimentações Recentes</h3>
    </div>
    <div class="hr"></div>

    <table id="table-div3">
      <thead>
        <tr>
          <th>Categoria</th>
          <th>Pessoa</th>
          <th>Tipo</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <% const recentMoves = moves.slice(0, 5) %> <%
        recentMoves.forEach(function(move) { %>
        <tr
          class="<%= move.type === 'Entrada' ? 'entry-div3' : 'expense-div3' %>"
          user_id="<%= move.user_id %>"
        >
          <td><%= move.category %></td>
          <td><%= move.user_name %></td>
          <td><%= move.type %></td>
          <td>R$ <%= move.value %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
